body {
    background-color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
    color: white;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;
}

.download {
    font-size: 16px;
    color: aquamarine;
    text-decoration: underline;
}

footer .copyright {
    font-size: 16px;
    text-align: right;
    color: gray;
}